body{
    background: rgb(216, 208, 208);
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}
.header {
    display: flex;
    background:rgb(203, 214, 174);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header__menu {
    margin: 0 auto;
}

.header__menu__list {
    display: inline-flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 30px;
}
.article{
    padding-top: 100px;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    background: cornsilk;
}
.article__service{
    border: 2px solid #fcc400;
    width: 700px;
    margin: 0 auto 10px;
    background: #fcc400;
}